## Preliminaries

<br>

### Packages

In [ ]:
import os
import signal

<br>
<br>

#### Install libspatialindex

* Future: `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${directory}lib/`

In [ ]:
%%bash

apt-get install -qq curl g++ make

# Parameters
version=1.9.2
package=spatialindex-src-$version
directory="/usr/local/"

# Download & unpack tar
curl -L https://github.com/libspatialindex/libspatialindex/releases/download/$version/$package.tar.gz | tar xz

# Switch directory
cd $package

# make
cmake -DCMAKE_INSTALL_PREFIX=$directory .
make
make install

cp ${directory}lib/libspatialindex* /lib/

<br>
<br>

#### Install RTree

In [ ]:
%%bash

package=Rtree-0.9.4

curl -L https://files.pythonhosted.org/packages/56/6f/f1e91001d5ad9fa9bed65875152f5a1c7955c5763168cae309546e6e9fda/$package.tar.gz | tar xz

cd $package && /usr/local/bin/python setup.py install

In [ ]:
!rm -rf Rtree-0.9.4 && rm -rf spatialindex-src-1.9.2

<br>
<br>

#### Restart

* `os.kill(os.getpid(), signal.SIGKILL.value)`
* `os.system('systemctl reboot -i')`
* !ps

In [ ]:
!kill -SIGKILL `pgrep -f jupyter-noteboo`

<br>
<br>

#### GeoPandas

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/83/c5/3cf9cdc39a6f2552922f79915f36b45a95b71fd343cfc51170a5b6ddb6e8/geopandas-0.7.0-py2.py3-none-any.whl (928kB)
     |████████████████████████████████| 931kB 2.7MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 14.4MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.3)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 257kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.4)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Installing collected packages: pyproj, click-plugins, cligj, munch, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.7.0 munch-2.5.0 pyproj-2.6.1.post1

<br>
<br>

### Libraries

In [ ]:
import geopandas as gpd
import pandas as pd
import folium
import rtree
import numpy as np

<br>
<br>

### Classes & Functions

In [ ]:
class Geocoders:

    @staticmethod
    def simple(i):
        try:
            return gpd.tools.geocode(i, provider='nominatim', user_agent='spatial.analysis').loc[0, :]
        except:
            return pd.Series({'geometry': None, 'address': None})

In [ ]:
class GeoPandasCoders:

    def __init__(self):

        self.provider = 'nominatim'
        self.user_agent = 'spatial.analysis'

    def via(self, data: str):
        """
        :param data: An address string whose latitude & longitude coordinates will be searched-for
        :return:
            A pandas.core.series.Series of geopy.Location objects .. if the address is
            located, otherwise None.
        """

        try:
            return gpd.tools.geocode(data, provider=self.provider, user_agent=self.user_agent).loc[0, :]
        except:
            return pd.Series({'geometry': None, 'address': None})

    def geocoding(self, data: gpd.GeoDataFrame, field: str):
        """
        :param data: A series of addresses whose latitude & longitude coordinates will be searched-for
        :return:
            A GeoDataFrame of ... consisting of the address' geometry & address details; None
            if not found ...
        """

        instances = data.copy()

        estimates = instances.apply(lambda x: self.via(x[field]), axis=1 )
        estimates.dropna(axis=0, how='any', inplace=True)

        instances = instances.join(estimates, how='inner')

        instances['latitude'] = instances.geometry.y
        instances['longitude'] = instances.geometry.x

        return instances

<br>
<br>

## Explore

<br>

### Single Place

In [ ]:
place = 'sabine mfg.'
setup = gpd.GeoDataFrame(data={'place': [place]})

<br>
<br>

The coördinates of

* `setup.join( setup.apply(lambda x: Geocoders().simple(x['place']), axis=1) )`

In [ ]:
sample = setup.apply(lambda x: Geocoders().simple(x['place']), axis=1)
sample

  geometry address
0     None    None

In [ ]:
sample = setup.join(sample)
sample

         place geometry address
0  sabine mfg.     None    None

In [ ]:
type(sample)

geopandas.geodataframe.GeoDataFrame

<br>

Points

In [ ]:
points = sample.geometry
latitude = points.y.values[0]
longitude = points.x.values[0]

In [ ]:
longitude

nan

<br>

Altogether

In [ ]:
GeoPandasCoders().geocoding(data=setup, field='place')

Empty GeoDataFrame
Columns: [place, geometry, address, latitude, longitude]
Index: []

<br>
<br>

### Places

<br>

#### Request latitudes & longitudes

In [ ]:
field = 'place'

universities = gpd.GeoDataFrame(
    data={field: ['The University of Edinburgh', 'The University of Cambridge', 'MIT', 'stjhn']}
)

estimates = universities.apply(lambda x: Geocoders().simple(x[field]), axis=1)
estimates.dropna(axis=0, how='any', inplace=True)

estimates

                     geometry                                            address
0   POINT (-3.18841 55.94413)  University of Edinburgh, Lothian Street, Pleas...
1    POINT (0.11974 52.19985)  Fitzwilliam Museum, Trumpington Street, Newnha...
2  POINT (-71.09568 42.35840)  Massachusetts Institute of Technology, Portlan...

<br>

#### Join

In [ ]:
data = universities.join(estimates, how='inner')
type(data)

geopandas.geodataframe.GeoDataFrame

<br>
<br>

#### DataFrame / GeoDataFrame

If the variable **data** is a DataFrame, rather than a GeoDataFrame, then the expressions


```python
    data['latitude'] = data.geometry.apply(lambda x: x.y)
    data['longitude'] = data.geometry.apply(lambda x: x.x )
    data
```

can be used to explicitly set **latutude** & **logitude** fields.  The expression

```python
    institutions = gpd.GeoDataFrame(data=data, geometry=data.geometry)
```

creates a GeoDataFrame from the DataFrame, and

```python
    institutions.crs = 'epsg:4326'
```

sets a coördinate reference system.

<br>
<br>

In [ ]:
data.crs == None

True

In [ ]:
data['latitude'] = data.geometry.y
data['longitude'] = data.geometry.x
data.crs = 'epsg:4326'
data

                         place  ...  longitude
0  The University of Edinburgh  ...  -3.188406
1  The University of Cambridge  ...   0.119739
2                          MIT  ... -71.095678

[3 rows x 5 columns]

In [ ]:
type(data)

geopandas.geodataframe.GeoDataFrame

<br>

#### Altogether

In [ ]:
GeoPandasCoders().geocoding(data=universities, field=field)

                         place  ...  longitude
0  The University of Edinburgh  ...  -3.188406
1  The University of Cambridge  ...   0.119739
2                          MIT  ... -71.095678

[3 rows x 5 columns]

<br>

#### Map

In [ ]:
# Create a map
m = folium.Map(location=[54, 15], tiles='openstreetmap', zoom_start=2)

# Add points to the map
for _, record in data.iterrows():
    folium.Marker([record['latitude'], record['longitude']], popup=record['place']).add_to(m)

# Display the map
m

<br>
<br>

### Merges & Spatial Joins

In [ ]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
europe = world.loc[world.continent == 'Europe'].reset_index(drop=True)
europe.head()

     pop_est  ...                                           geometry
0  142257519  ...  MULTIPOLYGON (((178.725 71.099, 180.000 71.516...
1    5320045  ...  MULTIPOLYGON (((15.143 79.674, 15.523 80.016, ...
2   67106161  ...  MULTIPOLYGON (((-51.658 4.156, -52.249 3.241, ...
3    9960487  ...  POLYGON ((11.027 58.856, 11.468 59.432, 12.300...
4    9549747  ...  POLYGON ((28.177 56.169, 29.230 55.918, 29.372...

[5 rows x 6 columns]

In [ ]:
type(europe)

geopandas.geodataframe.GeoDataFrame

<br>

Slicing

In [ ]:
europe_stats = europe[["name", "pop_est", "gdp_md_est"]]
europe_boundaries = europe[["name", "geometry"]]

In [ ]:
type(europe_stats)

pandas.core.frame.DataFrame

In [ ]:
type(europe_boundaries)

geopandas.geodataframe.GeoDataFrame

<br>

Merge

In [ ]:
europe_boundaries.merge(europe_stats, on='name').head()

      name  ... gdp_md_est
0   Russia  ...  3745000.0
1   Norway  ...   364700.0
2   France  ...  2699000.0
3   Sweden  ...   498100.0
4  Belarus  ...   165400.0

[5 rows x 4 columns]

<br>

Spatial Join

In [ ]:
if not data.crs == europe.crs:
    data.crs = '{}'.format(europe.crs)

In [ ]:
join = gpd.sjoin(data, europe, how='inner', op='within')
join

                         place                   geometry  ... iso_a3  gdp_md_est
0  The University of Edinburgh  POINT (-3.18841 55.94413)  ...    GBR   2788000.0
1  The University of Cambridge   POINT (0.11974 52.19985)  ...    GBR   2788000.0

[2 rows x 11 columns]